.Header {
  white-space: wrap;
  position: relative;
  width: 100%;
  min-height: 31px;
  background-color: lightgrey;
  z-index: 2;
  border-style: solid;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-color: darkgrey;
}

#logo {
  position: relative;
  text-align: center;
  height: 20px;
  width: 20px;
  bottom: 2px;
}

#title {
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: calc(100% - 150px);
  min-width: 80px;
  top: 3px;
}

#temp {
  text-align: center;
  color: black;
  text-decoration: none;
}

#spacer {
  text-align: center;
  color: black;
  width: 150px;
}

#searchBar {
  text-align: center;
  position: relative;
  display: inline-block;
  z-index: 3;
  max-width: 145px;
}

#bar {
  border-style: hidden;
  border-radius: 2px;
  width: calc(100% - 10px);
}
