.Homepage {
  position: relative;
  top: 0px;
  text-align: left;
  left: 0px;
}

#side {
  position: relative;
  top: 0px;
  border-left-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}
